<div class="flex-column">
  <p><b>Aufgabe2: </b>Erstelle eine Star Wars Movie Komponente, die hier in einer Liste angezeigt wird. <br>
    Hole die Daten aus der Star Wars API (star-wars-data.service) und zeige sie hier an. <br>
    Die Komponente soll den Titel anzeigen und weitere Informationen nach Belieben.<br>
    <i>Tipp:</i> Benutze einen Service, um das Signal / die Signals zu halten und zu manipulieren.
  </p>

<!--@for()-->
<!--  Komponente hier hin-->

  <p><b>Aufgabe 2a:</b>Füge in der Liste einen Löschen Button hinzu, damit einzelne Einträge entfernt werden können</p>
</div>
